<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (client()) {
      <div>
        <h2 data-cy="clientDetailsHeading"><span jhiTranslate="libraryWjdlApp.client.detail.title">Client</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ client()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="libraryWjdlApp.client.firstName">First Name</span></dt>
          <dd>
            <span>{{ client()!.firstName }}</span>
          </dd>
          <dt><span jhiTranslate="libraryWjdlApp.client.lastName">Last Name</span></dt>
          <dd>
            <span>{{ client()!.lastName }}</span>
          </dd>
          <dt><span jhiTranslate="libraryWjdlApp.client.address">Address</span></dt>
          <dd>
            <span>{{ client()!.address }}</span>
          </dd>
          <dt><span jhiTranslate="libraryWjdlApp.client.phone">Phone</span></dt>
          <dd>
            <span>{{ client()!.phone }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/client', client()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
