<div>
  <h2 id="page-heading" data-cy="BookHeading">
    <span jhiTranslate="libraryWjdlApp.book.home.title">Books</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="libraryWjdlApp.book.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-book"
        [routerLink]="['/book/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="libraryWjdlApp.book.home.createLabel">Create a new Book</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (books?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="libraryWjdlApp.book.home.notFound">No Books found</span>
    </div>
  }

  @if (books && books.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="isbn">
              <div class="d-flex">
                <span jhiTranslate="libraryWjdlApp.book.isbn">Isbn</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="libraryWjdlApp.book.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="publishYear">
              <div class="d-flex">
                <span jhiTranslate="libraryWjdlApp.book.publishYear">Publish Year</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="copies">
              <div class="d-flex">
                <span jhiTranslate="libraryWjdlApp.book.copies">Copies</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="picture">
              <div class="d-flex">
                <span jhiTranslate="libraryWjdlApp.book.picture">Picture</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="publisher.id">
              <div class="d-flex">
                <span jhiTranslate="libraryWjdlApp.book.publisher">Publisher</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody infinite-scroll (scrolled)="loadNextPage()" [infiniteScrollDisabled]="!hasMorePage()" [infiniteScrollDistance]="0">
          @for (book of books; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/book', book.id, 'view']">{{ book.id }}</a>
              </td>
              <td>{{ book.isbn }}</td>
              <td>{{ book.name }}</td>
              <td>{{ book.publishYear | formatMediumDatetime }}</td>
              <td>{{ book.copies }}</td>
              <td>
                @if (book.picture) {
                  <a (click)="openFile(book.picture, book.pictureContentType)">
                    <img [src]="'data:' + book.pictureContentType + ';base64,' + book.picture" style="max-height: 30px" alt="book" />
                  </a>
                  <span>{{ book.pictureContentType }}, {{ byteSize(book.picture) }}</span>
                }
              </td>
              <td>
                @if (book.publisher) {
                  <div>
                    <a [routerLink]="['/publisher', book.publisher.id, 'view']">{{ book.publisher.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/book', book.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/book', book.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(book)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
