<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-borrowed-book-heading"
        data-cy="BorrowedBookCreateUpdateHeading"
        jhiTranslate="libraryWjdlApp.borrowedBook.home.createOrEditLabel"
      >
        Create or edit a Borrowed Book
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="libraryWjdlApp.borrowedBook.id">Id</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_borrowDate" jhiTranslate="libraryWjdlApp.borrowedBook.borrowDate">Borrow Date</label>
          <div class="d-flex">
            <input
              id="field_borrowDate"
              data-cy="borrowDate"
              type="datetime-local"
              class="form-control"
              name="borrowDate"
              formControlName="borrowDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_updatedDate" jhiTranslate="libraryWjdlApp.borrowedBook.updatedDate">Updated Date</label>
          <div class="d-flex">
            <input
              id="field_updatedDate"
              data-cy="updatedDate"
              type="datetime-local"
              class="form-control"
              name="updatedDate"
              formControlName="updatedDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_book" jhiTranslate="libraryWjdlApp.borrowedBook.book">Book</label>
          <select class="form-control" id="field_book" data-cy="book" name="book" formControlName="book" [compareWith]="compareBook">
            <option [ngValue]="null"></option>
            @for (bookOption of booksSharedCollection; track $index) {
              <option [ngValue]="bookOption">{{ bookOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_clinet" jhiTranslate="libraryWjdlApp.borrowedBook.clinet">Clinet</label>
          <select
            class="form-control"
            id="field_clinet"
            data-cy="clinet"
            name="clinet"
            formControlName="clinet"
            [compareWith]="compareClient"
          >
            <option [ngValue]="null"></option>
            @for (clientOption of clientsSharedCollection; track $index) {
              <option [ngValue]="clientOption">{{ clientOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
